.recipes-main {
    max-width: 1366px;
    margin: 40px auto;

.title {
	display: flex;
	align-items: center;
	justify-content: center;
}

.recipes {
	display: flex;
	padding: 10px;
	max-width: 1255px;
    min-width: 1255px;
	overflow-x: scroll;
	margin-left: 110px;
    scroll-behavior: smooth;

	.recipe3 {
		margin-top: 120px;
	}
}

.scroll-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 1250px;

    button {
        background-color: transparent;
        border: none;
    }
}
}