.item-main {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: -50px;

	.background1 {
		position: absolute;
		z-index: -1;
		margin-top: 180px;
	}

	.background2 {
		position: absolute;
		z-index: -1;
		margin-top: 200px;
		margin-left: 265px;
	}

	.background3 {
		position: absolute;
		z-index: -1;
		margin-top: 140px;
		margin-left: -165px;
	}

	.item-image {
		img {
			width: 285px;
			height: 285px;
			object-fit: none;
		}
	}

	.text-frame {
		display: flex;
		justify-content: center;
		height: 295px;

		.item-text {
			width: 250px;
			height: 250px;
			background-color: #ffffff;
			box-shadow: 0px 15px 50px #0000000f;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			h6 {
				margin: 0;
				font-family: DinBold;
				font-size: 22px;
				align-self: flex-start;
				margin-left: 30px;
				margin-bottom: 25px;
				letter-spacing: 0.44px;
				color: #333333;
			}

			p {
				font-family: "Gill Sans", "Gill Sans MT", Calibri,
					"Trebuchet MS", sans-serif;
				font-size: 15px;
				width: 191px;
				height: 127px;
				margin: 0;
				letter-spacing: 0.15px;
				font-weight: normal;
				color: #333333;
			}

			img {
				align-self: flex-end;
				margin-right: 35px;
			}
		}
	}
}
