.main-div {
	position: relative;
	text-align: center;
	width: 100%;

	.nav {
		position: absolute;
		display: flex;
		width: 100%;

		.nav-left {
			position: absolute;
			display: flex;
            align-items: center;
            justify-content: center;
			left: 0px;

			h5 {
				font-size: 28px;
				font-weight: bold;
				padding: 30px 30px 30px 30px;
				margin: 0;
			}

			h6 {
				font-size: 18px;
				padding: 30px 30px 30px 30px;
				margin: 0;
                color: #333333;
			}
		}

		.nav-right {
			position: absolute;
			display: flex;
			right: 0px;

            	h6 {
				font-size: 18px;
				padding: 30px 30px 30px 30px;
				margin: 0;
                color: #333333;
			}
		}
	}

	.image-div {
		position: absolute;
		z-index: 9;
	}

	.text-div {
		position: absolute;
		top: 60%;
		left: 50%;
		transform: translate(-50%, -50%);

		h1 {
			font-family: DinBold;
			font-weight: bold;
			font-size: 115px;
			color: white;
			margin: 0;
		}

		h2 {
			font-family: DinBold;
			font-weight: bold;
			font-size: 82px;
			color: white;
			margin: -25px;
		}

		h3 {
			font-family: DinBold;
			font-weight: bold;
			font-size: 35px;
			color: white;
			margin: -20px;
		}
	}
}
