@font-face {
	font-family: "GillSans";
	src: local("GillSans"), url(./assets/fonts/GillSans.ttc) format("truetype");

	font-family: "DinBold";
	src: local("DinBold"),
		url(./assets/fonts/DIN\ Condensed\ Bold.ttf) format("truetype");
}

body {
	margin: 0;
	font-family: DinBold, GillSans;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: GillSans, DinBold;
}
